{% extends 'core/base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Welcome to Djangorized!{% endblock %}



{% block content %}



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-12">



            <h1>{{ area.name }}</h1>
            <hr>
        </div>

        <div class="col-12">
            <table class="area-table" id="area-table-1">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        {% for column in columns %}
                            <th class="text-center p-1">{{ column }}</th>
                        {% endfor %}
                    </tr>    
                </thead>
                <tbody>
                {% for row in matrix %}
                    <tr>
                        <th class="p-2">{{ row.row }}</th>
                        {% for column in row.columns %}
                            {% if column.x == row.row %}
                                <td class="area-table-field" field_pk={{ column.field.pk }} x={{ column.x }} y={{ column.y }} reserved="{% if column.field != None %}yes{% else %}no{% endif %}" container="{% if column.field.container_fk.pk %}yes{% else %}no{% endif %}" container_pk="{{ column.field.container_fk.pk }}"><button type="button" data-toggle="modal" data-target="#exampleModal" class="btn w-100 h-100">{% if column.field.container_fk %}{{ column.field.container_fk }}{% else %}{{ column.x }}{{ column.y}}{% endif %}</button></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <div id="forma">
                      <div id="tippy" class="tooltipp" style="display: none;">
                      </div>
                      
                      <div class="main">
                      <a href="#">Link to show tooltip</a>
                    
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="{% static 'js/jquery-3.6.0.js' %}"></script>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

<script>

    function SummerizeTable(table) {
        $(table).each(function() {
          $(table).find('td').each(function() {
            var $this = $(this);
            var col = $this.index();
            var html = $this.html();
            var row = $(this).parent()[0].rowIndex; 
            var span = 1;
            var cell_above = $($this.parent().prev().children()[col]);
      
            // look for cells one above another with the same text
            while (cell_above.html() === html) { // if the text is the same
              span += 1; // increase the span
              cell_above_old = cell_above; // store this cell
              cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
            }
      
            // if there are at least two columns with the same value, 
            // set a new span to the first and hide the other
            if (span > 1) {
              // console.log(span);
              $(cell_above_old).attr('rowspan', span);
              $this.hide();
            }
            
          });
        });
      }

      SummerizeTable("#area-table-1")

      $(document).ready(function() {
        $("#area-table-1 tbody tr td").each(function() {
          var n1 = $(this).text();
          var t = $(this).nextUntil("td:not(:contains(" + n1 + "))");
          var n3 = t.length || 0;
          $(this).attr("colspan", n3 + 1);
          t.remove();
        });
      });
      
      {% comment %} hardcode {% endcomment %}

      $("#area-table-1 tbody tr td[rowspan='2']").each(function() {
        var $button = $(this).find("button")
        $button.removeClass("h-100")
        $button.css("height","200%")
      });

      $("#area-table-1 tbody tr td[rowspan='3']").each(function() {
        var $button = $(this).find("button")
        $button.removeClass("h-100")
        $button.css("height","300%")
      });


      function light_up(target){
          console.log("Lighting up...")
          console.log(target)
          $(target).addClass("light_up")
      }
      function light_down(target){
        console.log("Lighting down...")
        $(target).each(function(){
            $($(this)).removeClass("light_up")
        })
      }
{% comment %}  
      $("button").on("click", function(event) {
        $("div.tooltipp").css("display","none").fadeOut();
        console.log("a")
        $("div.tooltipp").css({
            top: event.pageY + 10 + "px",
            left: event.pageX + 10 + "px",
        }).fadeIn().show();
    })
    $('.close').on('click', function(){
      $("div.tooltipp").hide();
    });
{% endcomment %}



      // Ajax - klikanie pol na mapie 

      $("td.area-table-field button").on("click", function(){
        var $data = {}
        var $button = $(this)
        var button = this
        var $td = $(this).parent()
        var $td_x = $td.attr("x")
        var $td_y = $td.attr("y")
        console.log($td)
        var $field_pk = $(this).parent().attr("field_pk")
        $data['pk'] = $field_pk
        var $url = "{% url 'map:field_detail' %}"
        var $container = $(".modal-body")
        var $modal = $("#exampleModal")
        var $modal_title = $(".modal-title")

        $.ajax({
            url: $url,
            type: "GET",
            data: $data,
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
                "X-Requested-With": "XMLHttpRequest",
            },
            success: function(data){
                $container.empty().html(data);
                $modal_title.text("Edycja pola X:"+$td_x+" Y:"+$td_y)
                $modal.modal('show'); 
                }
        });

      });




</script>

{% endblock %}


