{% extends 'map/base.html' %}
{% load static %}
{% load rest_framework %}

{% block content %}

{% for form in detail_forms %}

<form action="{% url 'map:field_detail' %}" method="post" model="field" id="field_detail_form{{ forloop.counter0 }}" class="m-1">
  {% csrf_token %}
  {% for field in form %}
  <div class="field-group rounded">
    <label class="rounded">&nbsp;{{ field.label }}</label> {{ field }}
    {{ field.errors }}
    {% if field.help_text %}
        <span class="helptext">&nbsp;{{ field.help_text }}  </span>
    {% endif %}
    </div>             
{% endfor %}
<hr>
</form>

<!-- SUBMITION -->
<div class="mt-4 mb-4">
  <a value="Zapisz" class="btn btn-sm btn-primary ajax_post" url="{% url 'map:field_detail' %}?pk={{ form.instance.pk }}" successurl="{% url 'map:field_detail' %}"  forms="#field_detail_form{{ forloop.counter0 }}">&nbsp;Zapisz</a>
</div>
{% endfor %}

{% comment %} 

<form action="{% url 'map:field_detail' %}" method="post" model="field" id="field_detail_form" class="m-1">
    {% csrf_token %}
    {% for field in detail_form %}
    <div class="field-group">
      <label>{{ field.label }}</label> {{ field }}
      {{ field.errors }}
      {% if field.help_text %}
          <span class="helptext">&nbsp;{{ field.help_text }}  </span>
      {% endif %}
      </div>             
  {% endfor %}
  </form>

  <!-- SUBMITION -->
  <div class="mt-4">
    <a value="Zapisz" class="btn btn-sm btn-primary ajax_post" url="{% url 'map:field_detail' %}" successurl="{% url 'map:field_detail' %}"  forms="#field_detail_form">&nbsp;Zapisz</a>
  </div>

{% endcomment %}

{% endblock content %}



